@use "../../assets/variables" as *;

.new-plant{
    display: flex;
    flex-direction: column;
    margin:10px;
    align-items: center;
    width: 90%;
    height:100%;
    background-image:  url('../../assets/images/squiggles.svg');
   

}
.scroll {
    height:80vh;
    overflow-y: scroll;
    scrollbar-color: rgba(0, 0, 0, 0.25) transparent ;

    
    
}


