@use "../../assets/variables" as *;

.edit-plant{
    font-family: $font-headings;
    font-family: $font-headings;
    display: flex;
    flex-direction: column;
    margin:10px;
    align-items: center;
    width: 90%;
    height:100%;
    background-image:  url('../../assets/images/squiggles.svg');
    
    &__button {
        background-color: $colour-four;
        color: white;
        border:none;
        border-radius: 25px;
        padding:15px 55px;
        margin:10px 5px;
        font-family: $font-headings;
        &--two{
            background-color: $colour-three;

        }
        &--three {
            background-color: $colour-one;
        }

    
    }

    &__container{
        display: flex;

    }
    
    .exit {
        display: flex;
        margin:10px;
        width: 625px;
        justify-content: flex-end;

        &--button {
            background-color: $colour-four;
            border: none;
            height:40px;
            width:40px;
            border-radius: 25px;
            color: white;
        }
    }


}