@use "../../assets/variables" as *;

.watering-card{
    background-color: $colour-two;
   
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height:150px;
    width:600px;
    border-radius: 15px;
    padding:20px;
    margin:10px;
    
    h1{
        font-family: $font-headings;
    }
    p{
        font-family: $font-secondary;
    }
    &__text{
        width:50%;
    }
    &__container{
        
        width:50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img{
        height:150px;
        background-color: white;
        border-radius: 125px;
        
    }
}