@use "../../assets/variables" as *;

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 10px;

  &__img {
    height: 45px;
    padding:10px;
    &--home {
      height: 40px;
      width: 35px;
    }
  }
  &__item {
    display: flex;
    align-items: center;
  }
  &-container {
    display: flex;
  }
  &:hover {
    cursor: pointer;
    opacity: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .nav {
    height: 100vh;
    width: 10vw;
    align-items: center;
    &__item {
      height: 150px;
    }
    &__img {
      height: 50px;
      &--home {
        width: 45px;
      }
    }
    &-container {
      display: flex;
      flex-direction: column;
    }
  }
}
